<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/054dfb58-5309-4374-9f58-8ea64d0df461/resourceGroups/11_project_v1/providers/Microsoft.Web/sites/11projectv1</ResourceId>
    <ResourceGroup>11_project_v1</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://11projectv1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>cbb87386-e7b7-410f-b991-e0d2f5049165</ProjectGuid>
    <PublishUrl>https://11projectv1.scm.azurewebsites.net/</PublishUrl>
    <UserName>$11projectv1</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>